@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightGreen: #EFFAFA;
    --darkGreen: #5CA5A5;
    --grey: #7C8F8F;
    --greyLine: #B7C4C4;

} 

body {
    font-family: 'Spartan', sans-serif;
}

header {
    background-image: url("./images/bg-mobile.svg");
    background-color: #63BABA; 
    height: 170px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: relative;
}

main {
    background-color: var(--lightGreen);
    height: 100%;
}

.filtered-keywords {
    min-height: 100px;
    width: 90vw;
    background-color: #fff;
    border-radius: 7px;
    margin: 0 auto 2rem;
    padding: 1rem;
   /* position: absolute;
    top: 7rem;
    left: 1rem;*/
}

header section {
    padding-top: 6rem;
}

main section {
    padding-top: 5rem;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.clear-btn {
    position: absolute;
    top: 1.5rem;
    right: 0;
    color: var(--grey);
    font-weight: 800;
}

.green-bg {
    background-color: var(--darkGreen);
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.keyword {
    margin: 0 1rem 1rem 0;
}

.keyword p {
    color: var(--darkGreen);
    background-color: var(--lightGreen);
    padding: 10px;
    font-weight: 700;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

/*section {
    padding-top: 3rem ;
}*/

.box {
    width: 90vw;
    min-height: 250px;
    background-color: #fff;
    margin: 0 auto 3rem;
    border-radius: 7px;
    border-left: 5px solid var(--darkGreen);
    padding: 0 1.3rem 1.5rem
}

.logo {
    height: 3.5rem;
    width: 3.5rem;
    margin-top: -1.5rem;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-name {
    color: var(--darkGreen);
    font-weight: 600;
    font-size: 15px;
}

.new {
    background-color: var(--darkGreen);
}

.featured {
    background-color: #000;
}

.new,
.featured {
    border-radius: 20px;
    padding: 8px 12px 4px;
}

.new>p,
.featured>p {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}

.details {
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 1.2rem;
    margin: 0.8rem 0;
}

h2:hover {
    color: var(--darkGreen);
}

.grey {
    color: var(--grey);
    font-size: 14px;
}

.line {
    width: auto;
    height: 1px;
    background-color: var(--greyLine);
    margin: 1rem 0;
}

button {
    background-color: var(--lightGreen);
    color: var(--darkGreen);
    border: none;
    border-radius: 3px;
    font-weight: 600;
    padding: 8px 12px;
    font-size: 15px;
    margin: 0 10px 10px 0;
}

button:hover {
    background-color: var(--darkGreen);
    color: #fff;
}